@page "/add-ticket"

<PageTitle>Add Ticket - TicketTracker</PageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Trail</li>
    </ol>
</nav>

<h3 class="mt-5 mb-4">Add a ticket</h3>

<TicketForm @ref="_trailForm" OnSubmit="SubmitNewTicket" />

@code {
    private TicketForm _trailForm = default!;

    private async Task SubmitNewTicket(TicketDto ticket, IBrowserFile? image)
    {

    }
}