<div class="drawer-wrapper @(IsOpen ? "slide" : "")">
    <div class="drawer-mask"></div>
    <div class="drawer">
        @if (Ticket is not null)
        {
            <div class="drawer-content">
                @if (Ticket.Image is null)
                {
                    <img src="https://via.placeholder.com/640x688.jpg?text=No+Image+For+Ticket" />
                }
                else
                {
                    <ImageDisplay ImageData="Ticket.Image" Width="35em" />
                }
            </div>
            <div class="drawer-controls">
                <button class="btn btn-secondary" @onclick="Close">Close</button>
            </div>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired] public TicketDto? Ticket { get; set; }
    [Parameter, EditorRequired] public bool IsOpen { get; set; }
    [Parameter, EditorRequired] public EventCallback OnClose { get; set; }

    private async Task Close()
    {
        Ticket = null;
        IsOpen = false;
        await OnClose.InvokeAsync();
    }
}
