@page "/"

<PageTitle>Ticket Page</PageTitle>

<TicketSearch />

<div class="mb-4">
    <p class="font-italic text-center">Do you have a ticket you'd like to share? <a href="add-ticket">Add it here</a>.</p>
</div>
