.page-link {
    background-color: white;
    border-color: #757687;
    color: #757687;
}

    .page-link:hover {
        background-color: #CFA616;
        border-color: #CFA616;
        color: white;
    }

.page-item.active .page-link {
    z-index: 3;
    color: white;
    background-color: #757687;
    border-color: #757687;
}