@inject NavigationManager NavManager

<div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to Ticket Tracker</h1>
    <p class="lead text-center">Collect all your tax deductible tickets in one single place!</p>
    <p class="mt-4">
        <input @onkeydown="SearchForTicket"
        @bind="_searchTerm"
        @bind:event="oninput"
        @ref=myInput
               type="text"
               placeholder="Search for a ticket..."
               class="form-control form-control-lg" />
    </p>
</div>

@code {
    private string _searchTerm = "";
    private ElementReference myInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await myInput.FocusAsync();
        }
    }

    private void SearchForTicket(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;

        NavManager.NavigateTo($"/search/{_searchTerm}");
    }
}
