<div class="row">
    <div class="@Width">
        <div class="mb-3">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string Width { get; set; } = "col";
}